@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&family=Tinos&display=swap');

body {
   margin: 0;
   font-family: Encode Sans Condensed, sans-serif;  
   font-size: 1.25em;   
}

h1 {
  margin: 0;
  background-color: #B0E0E6;
  font-family: Tinos, serif;
  color: black;
  font-size: 2.8em;
}

h2 {
  background-color: #B0E0E6;
  font-family: Tinos, serif;
  font-size: 1.8em;
  color: black;
}

.navigation {
  background-color: #00BFFF;
  width: 265px;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

}

.navigation a {
  text-decoration: none;
  color: black;

}

.site-info {
  margin: 2em;

  text-align: center;
  font-size: 200%;
}

.logo {
  background-color: white;
  width: 150px;
  height: 150px;

  margin: auto;

  border: 5px solid white;
  border-radius: 100%;

  line-height: 150px;
  color: black;
  text-transform: uppercase;
}

.logo:hover {
    border-color: black;    
}

.site-links {

}

.main {
  background-color: #B0E0E6;
  overflow: auto;
  margin-top: 0;
  margin-left: 265px;
  padding: 1em;
}

.banner {
  width: 100%;
  height: auto;
}