body {
   font-family: serif;
   color: blueviolet;     
}

* {
   font-family: serif;
   background-color: black;
}

h1 {
    color: blueviolet;
    font-size: 35px;
      }

.canvas {
    background-color: black;
    height: 650px;  
    width: 100%;
    position: absolute; 

}

.rectangle {
   height: 650px;
   width: 28%;
   position: absolute;
   left: 0px;  
   bottom: 0px; 
}

#blue {
   background-color: blue;
   position: absolute;
   left: 0px;
   bottom: 0px;    
}

#white {
   background-color: white;
   position: absolute;
   left: 375px;
   bottom: 0px;         
}

#orange {
  background-color: orange;
  position: absolute; 
  left: 750px;
  bottom: 0px;
}

#purple {
   background-color: purple; 
   position: absolute;
   left: 1050px;
   bottom: 0px;
}


p {
   color: white;
}

div {
  position: center;
}


