h1 {
        color: blueviolet;
      }

.square {
   width: 25%     
}

#pink {
   background-color: pink;     
}

#green {
   background-color: green;      
}

#orange {
  background-color: orange;      
}

#purple {
   background-color: purple;     
}