h1, p {
        color: blueviolet;
      }

.rectangle {
   width: 25%;
   height: 710px;
}

#blue {
   background-color: blue;
   border: 2px solidorange;     
}

#white {
   background-color: white;
   border: 2px solid dodgerblue;      
}

#orange {
  background-color: orange;      
}

#purple {
   background-color: purple;     
}

body {
   background-color: black;
   color: blueviolet;     
}
p {
  
}

div.
<!-- not sure how to get the colors side by side, and tilted. Wondering at red arrow and blue dot -->
