@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Ewert&display=swap');

h1 {
  color: #00BFFF;
  font-family: 'Alegreya-Sans-Regular', serif;
  font-size: 32px;

  line-height: 1em; 
}

h1:first-of-type {
  font-family: 'Ewert', cursive;
  color: #800080;
}

h2::first-letter {
  font-family: 'Ewert', cursive;
  font-size: 25px;
  color: #800080;

  line-height: 1em; 
}

h3 {
   color: #00BFFF;
   font-size: 22px;

   line-height: 1em;
}

div {
  background-color: #AFEEEE;
  position: relative;
  left: 455px;
  width: 500px;
}

body {
  background-color: #B0E0E6; 
}

.text {
   padding: 5px;
   color: #00BFFF;
}

p {
  color: #800080;
  font-family: 'Alegreya-Sans-Regular', serif; 
  font-size: 18px;
  padding: 5px;
}

p:first-of-type:first-letter {
  font-family: 'Ewert', cursive;
  font-size: 2em;
  font-weight: 200;
  color: #00BFFF; 
}

a {
  background-color: #00CED1;
  color: white;
  padding: 5px;
}

p:hover {
  font-style: bold;
}

p:visited {
  color: #C70039;
}

p:active {
  color: #E6E6FA;
}

.button {
  background-color: #00BFFF; /* DeepSkyBlue */
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

.button:visited {
  color: #E6E6FA;     
}

