@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Ewert&display=swap');

h1 {
  color: #00BFFF;
  font-family: 'Alegreya-Sans-Regular', serif;
  font-size: 32px;

  line-height: 1em; 
}

h1:first-of-type {
  font-family: 'Ewert', cursive;
  color: #O0BFFF;
}

h2::first-letter {
  font-family: 'Algreya-Sans-Regular', serif;
  font-size: 25px;
  color: #800080;

  line-height: 1em; 
}

h2 {
  color: #800080;
  font-size: 22px;

  line-height: 1em;      
}

div {
  background-color: #AFEEEE;
  position: relative;
  left: 455px;
  width: 500px;
}

body {
  background-color: #B0E0E6; 
}

.text {
   padding: 5px;
   color: #00BFFF;
}

p {
  color: #800080;
  font-family: 'Alegreya-Sans-Regular', serif; 
  font-size: 18px;
  padding: 5px;
}

p:first-of-type:first-letter {
  font-family: 'Ewert', cursive;
  font-size: 2em;
  font-weight: 200;
  color: #00BFFF; 
}

a {
  background-color: #00CED1;
  color: white;
  padding: 5px;
}

.parent-element {
    min-height: 10em;
}

.button1 {
    font-size: 18px;
    color: #8B008B;
    font-weight: 600;
    background-color: rgb(28,205,202);
    border-color: #8f8b8b #383636 #383636 #8f8b8b;
    border-width: 9px 15px 15px 9px;
    border-style: solid;
    position: relative;
    margin: auto;
    top: em;
    padding: 2em;
    width: em;
    height: 40px;
    text-align: center;
}

.button2 {
   font-size: 18px;
    color: #8B008B;
    font-weight: 600;
    background-color: rgb(28,205,202);
    border-color: #8f8b8b #383636 #383636 #8f8b8b;
    border-width: 9px 15px 15px 9px;
    border-style: solid;
    position: relative;
    margin: auto;
    top: em;
    padding: 2em;
    width: em;
    text-align: center;     
}

a {
    text-decoration: none;
    color: inherit;
}

.button1:hover {
    color: #383636;
    font-style: italic;
}

.button2:hover {
    color: #383636;
    font-style: italic;
}

.button1:active {
    color: #fff;
    background-color: rgb(17, 127, 126);
    border-color: #383636 #8f8b8b #8f8b8b #383636;
    border-width: 15px 9px 9px 15px;
}

.button2:active {
    color: #fff;
    background-color: rgb(17, 127, 126);
    border-color: #383636 #8f8b8b #8f8b8b #383636;
    border-width: 15px 9px 9px 15px;
}

.button1:visited {
    color: #4B0082;
    background-color: rgb(17, 127, 126);
    border-color: #383636 #8f8b8b #8f8b8b #383636;
    border-width: 15px 9px 9px 15px;
}

.button2:visited {
    color: #4B0082;
    background-color: rgb(17, 127, 126);
    border-color: #383636 #8f8b8b #8f8b8b #383636;
    border-width: 15px 9px 9px 15px;
}

p:hover {
  font-style: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

p:visited {
  color: #4B0082;
}

p:active {
  color: #E6E6FA;
}

a:hover{
  font-style: italic;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 

a:visited {
  color: #4B0082;
}

a:active {
  background-color: #5F9EA0;
  color: #4682B4;  
}
.button1 {
  border-radius: 50%;      
}

.button2 {
  border-radius: 50%;      
}